**/.DS_Store
.vs
obj

# Exclude any fx compiler that is present.
Content/Shaders/*
!Content/Shaders/*.fx
!Content/Shaders/*.xnb

# Exclude any helper python scripts (mainly file renaming for multi-png animations and png trimming)
*.py

# Exclude any fx compiler that is present.
*.cd